
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body
{
     background-color: blueviolet;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 900;
     color: white;
}
.column {
     float: left;
     width: 50%;
     padding: 15px;
     padding-bottom: 30px;
     padding-top: 30px;
}

.row:after {
     content: "";
     display: table;
     clear: both;
}

img{
     width: 600px;
     height: 600px;
     border-radius: 10px;
}
.image
{
     padding: 50px;
}

.text-hobby
{
     font: 800;
     font-size: 3rem;
     padding: 100px;
}

.text-code
{
     font: 800;
     font-size: 3rem;
     padding: 80px;
}